
@{
    ViewData["Title"] = "Index";
}

<section class="product ipad-air">
    <h2><strong>iPad Air</strong></h2>
    <h3>Powerful.Colorful.Wonderful.</h3>
    <div></div><a href="#">Learn More&nbsp;<i class="fa fa-angle-right"></i></a>
    <div><img class="img-fluid" src="~/assets/img/2020-ipad-air.jpg?h=ab5d75de9819b34b767055d38acdda65" width="800px" height="400px"></div>
</section>
<section class="product mac">
    <h2><br><strong>iMac</strong><br></h2>
    <h3><strong>The all-in-one for all.</strong><br></h3>
    <div></div><a href="#">Learn More&nbsp;<i class="fa fa-angle-right"></i></a>
    <div><img class="img-fluid" src="~/assets/img/macbook_pro_performance_largetall.png?h=048552bf34892c2f40af9ecb739b1063" width="800px" height="400px"></div>
</section>
<section class="product ipad-air">
    <h2><strong>iPhone[se]</strong></h2>
    <h3><strong>Lots to love.</strong><br><strong>Less to spend.</strong><br></h3>
    <div></div><a href="#">Learn More&nbsp;<i class="fa fa-angle-right"></i></a>
    <div><img class="img-fluid" src="/assets/img/phone.PNG?h=b877c146d65a97e803d5cf3368f296bf"></div>
</section>
<div class="row grid">
    <div class="col-md-6 grid-col">
        <div class="grid-div">
            <h1><strong>App Store</strong><br></h1>
            <h5><strong><em>The app you love</em></strong><br><strong><em>from a place you can trust</em></strong></h5><img src="~/assets/img/zz.PNG?h=54330595e7548d31e3846068c6b2e5d5" width="600px">
        </div>
    </div>
    <div class="col-md-5 offset-md-0 grid-col">
        <div class="grid-div">
            <h1><i class="fa fa-apple"></i><strong>Fitness+</strong><br></h1>
            <h5><strong><em>A new fitness experience</em></strong><br><strong><em>Powered by Apple Watch</em></strong></h5><img src="~/assets/img/watch_series_3_large.jpg?h=d373372a49bb4ce8bd12f06ec6e8c650">
        </div>
    </div>
    <div class="col-md-6 grid-col">
        <div class="grid-div">
            <h1><i class="fa fa-apple"></i><strong>Fitness+</strong><br></h1>
            <h5><strong><em>A new fitness experience</em></strong><br><strong><em>Powered by Apple Watch</em></strong></h5><img src="~/assets/img/watch_series_3_large.jpg?h=d373372a49bb4ce8bd12f06ec6e8c650">
        </div>
    </div>
    <div class="col-md-5 grid-col">
        <div class="grid-div">
            <img src="~/assets/img/hh.PNG?h=fd4b378063784d24520e2c0a5bea372b" width="555px">
            <h4>Delightfully capable<br>Surprisingly affordabla</h4>
        </div>
    </div>
</div>

